body{
  margin:0;
  font-family:sans-serif;
}

p{
  font-size:15px;
}

/*================
ヘッダー
================*/

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0px;
}

#logo img{
  width:240px;
}

#nav-pc{
  font-size:14px;
}

#nav-pc a{
  margin-left:20px;
  text-decoration:none;
  color:#000000;
}

#nav-pc a:hover{
  text-decoration:underline;
}

/*================
メインビジュアル
================*/

#main-visual{
  margin-top:20px;
}

#main-visual > img{
  width:100%;
  display:block;
}

#main-message{

  width:240px;

  padding:20px;

  margin-left:0px;

  margin-bottom:20px;

  background-color:rgba(255,255,255,0.8);

  box-sizing:border-box;

}
#main-message h1{
  margin:0 0 10px 0;
  font-size:22px;
}

#main-message p{
  margin:0;
  font-size:13px;
  white-space:nowrap;
}

/*================
PC
================*/

#menu-sp{
  display:none;
}

#nav-sp{
  display:none;
}

/*================
SP
================*/

@media screen and (max-width:767px){

body{
  min-width:375px;
  margin:0;
}

#nav-pc{
  display:none;
}

#menu-sp{
  display:block;
  float:right;
  padding:0;
}

#nav-sp{
  background-color:#ce933e;

  position:absolute;

  top:0;
  left:0;

  width:100%;
  height:100%;

  display:none;

  z-index:100;
}

#nav-sp ul{
  padding-left:0;
}

#nav-sp li{
  list-style:none;
}

#close{
  position:absolute;
  top:20px;
  right:20px;
}

#logo-sp{
  display:block;
  margin:80px 0 30px 20px;
}

#nav-sp a{
  display:block;
}

#nav-sp a:link{
  color:#ffffff;
}

#nav-sp a:visited{
  color:#ffffff;
}

#nav-sp a:hover{
  color:#ffffff;
  text-decoration:underline;
}

#nav-sp a:active{
  color:#ffffff;
}

#nav-sp .menu{

  display:block;

  text-decoration:none;

  margin:0 20px;

  height:44px;

  font-size:16px;

  background-image:url("images/arrow.png");

  background-repeat:no-repeat;

  background-position:right top;

}

#main-message{
  width:170px;
  padding:12px;

  top:25px;
  left:15px;
}

#main-message h1{
  font-size:18px;
}

#main-message p{
  font-size:11px;
}

}